{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="save" content="history">
    <link rel = "Shortcut Icon" href="{% static 'favicon.ico' %} ">
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.6.9/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.6.9/js/mui.min.js"></script>
    <script type="text/javascript">
      function keydown_event(key){
        var a=key
      }
      function keyup_event(key){
        var a=key
      }
    </script>
    {% block script %}
    {% endblock %}
  </head>

{% block whole_body %}
<body class="mui--no-user-select" onkeydown="keydown_event(0)" onkeyup="keyup_event(0)" >
  <div class="mui--z2 mui-appbar mui-container-fluid mui--bg-primary-dark mui--appbar-min-height mui--appbar-line-height">
    <div class="mui-row">
      <div class="mui-col-xs-1 mui-col-sm-2", align="center">
        <form class="mui-form" action="/" method="get" id="back">
          {% block left_button %}
          {% endblock %}
        </form>
      </div>
      <div class="mui-col-xs-10 mui-col-md-8 mui--text-headline", align="center">
        <div class="mui--appbar-height mui--appbar-line-height">
          {% block page_title %}
          PiCar-V
          {% endblock %}
        </div>
      </div>
      <div class="mui-col-xs-1 mui-col-sm-2", align="center">
        <form class="mui-form" action="/cali/" method="get" id="settings">
          {% block right_button %}
          {% endblock %}
        </form>
      </div>
    </div>
  </div>
  <br>

  {% block content %}
  <div class="mui-panel", align="center">
    <img src="{% static 'main_page.jpg' %}"/>
  </div>
  <div align="center">
    <form action="/run/" method="get">
      <button class="mui-btn mui-btn--danger">Let's rock!</button>
    </form>
  </div>
  {% endblock %}
</body>
{% endblock %}
</html>
