{% extends "base.html" %}
{% load static %}

{% block left_button %}
<button class="mui-btn mui-btn--flat mui-btn--small" form="back" formaction="/run/" style="background-color:#000000;background-color:rgba(0,0,0,0)"><img src="{% static "back_unpressed.png" %}"></button>
{% endblock %}

{% block page_title %}
Calibration
{% endblock %}

{% block right_button %}
<button class="mui-btn mui-btn--flat mui-btn--small" onmousedown="cali_ok()" style="background-color:#000000;background-color:rgba(0,0,0,0)"><div class="mui--text-headline mui--text-light">OK</div></button>
{% endblock %}

{% block content %}
  <script type="text/javascript">
    run_action('camcali')
    run_action('fwcali')
    run_action('bwcali')
    function run_action(value){
      var xmlHttp  = new XMLHttpRequest();
      var protocol  = window.location.protocol;
      var host      = window.location.host;
      var pathname  = window.location.pathname;
      url = protocol + "//" + host + pathname + "?action" + "=" + value;
      xmlHttp.open( "GET", url, false );
      xmlHttp.send( null );
      return xmlHttp.responseText;
    }
    function back(){
      var xmlHttp  = new XMLHttpRequest();
      var protocol  = window.location.protocol;
      var host      = window.location.host;
      url = protocol + "//" + host + '/run/?';
      xmlHttp.open( "GET", url, false );
      xmlHttp.send( null );
      return xmlHttp.responseText;
    }
    function cali_ok(){
      run_action('camcaliok');
      run_action('fwcaliok');
      run_action('bwcaliok');
      back();
      back();
    }
  </script>
  <div class="mui-container-fluid-height mui-container-fluid-line-height">
    <!-- Camera Calibration -->
    <div class="mui-row">
      <div class="mui-col-xs-10 mui-col-sm-10 mui-col-sm-offset-1 mui-col-xs-offset-1", align="left">
        <div class="mui--text-headline mui--text-dark-secondary">
          Camera Calibration:
        </div>
      </div>
    </div>
    <div class="mui-row">
      <div class="mui-col-xs-10 mui-col-sm-10 mui-col-sm-offset-1 mui-col-xs-offset-1", align="center">
        <div class="mui-panel">
          <div class="mui-col-xs-6 mui-col-sm-6", align="center">
            
          </div>
          <div class="mui-col-xs-6 mui-col-sm-6">
            <!-- Up -->
            <div class="mui-row", align="center">
              <button class="mui-btn mui-btn--primary" onmousedown="run_action('camcaliup')" ontouchstart="action('caliup')" ontouchend="action('stop')">▲</button>
            </div>
            <!-- Left, Right button -->
            <div class="mui-row">
              <div class="mui-col-xs-4 mui-col-sm-4", align="right">
                <button class="mui-btn mui-btn--primary" onmousedown="run_action('camcalileft')" ontouchstart="action('camcalileft')" ontouchend="action('fwstraight')">◀</button>
              </div>
              <div class="mui-col-xs-4 mui-col-sm-4 mui-col-sm-offset-4 mui-col-xs-offset-4", align="left">
                <button class="mui-btn mui-btn--primary" onmousedown="run_action('camcaliright')" ontouchstart="action('camcaliright')" ontouchend="action('fwstraight')">▶</button>
              </div>
            </div>
            <!-- down button -->
            <div class="mui-row", align="center">
              <button class="mui-btn mui-btn--primary" onmousedown="run_action('camcalidown')" ontouchstart="action('camcalidown')">▼</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Front Wheels Calibrationv -->
    <div class="mui-row">
      <div class="mui-col-xs-10 mui-col-sm-10 mui-col-sm-offset-1 mui-col-xs-offset-1", align="left">
        <div class="mui--text-headline mui--text-dark-secondary">
          Front Wheels Calibration:
        </div>
      </div>
    </div>
    <div class="mui-row">
      <div class="mui-col-xs-10 mui-col-sm-10 mui-col-sm-offset-1 mui-col-xs-offset-1", align="center">
        <div class="mui-panel">
          <div class="mui-col-xs-6 mui-col-sm-6", align="center">

          </div>
          <div class="mui-col-xs-6 mui-col-sm-6">
            <!-- Left, Right button -->
            <div class="mui-row">
              <div class="mui-col-xs-4 mui-col-sm-4", align="right">
                <button class="mui-btn mui-btn--primary" onmousedown="run_action('fwcalileft')"" ontouchstart="action('fwcalileft')" ontouchend="action('fwstraight')">◀</button>
              </div>
              <div class="mui-col-xs-4 mui-col-sm-4 mui-col-sm-offset-4 mui-col-xs-offset-4", align="left">
                <button class="mui-btn mui-btn--primary" onmousedown="run_action('fwcaliright')" ontouchstart="action('fwcaliright')" ontouchend="action('fwstraight')">▶</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Back Wheels Calibrationv -->
    <div class="mui-row">
      <div class="mui-col-xs-10 mui-col-sm-10 mui-col-sm-offset-1 mui-col-xs-offset-1", align="left">
        <div class="mui--text-headline mui--text-dark-secondary">
          Rear Wheels Calibration:
        </div>
      </div>
    </div>
    <div class="mui-row">
      <div class="mui-col-xs-10 mui-col-sm-10 mui-col-sm-offset-1 mui-col-xs-offset-1", align="center">
        <div class="mui-panel">
          <div class="mui-col-xs-6 mui-col-sm-6", align="center">
            
          </div>
          <div class="mui-col-xs-6 mui-col-sm-6">
            <!-- Left, Right reverse button -->
            <div class="mui-row">
              <div class="mui-col-xs-5 mui-col-sm-5", align="right">
                <button class="mui-btn mui-btn--primary" onmousedown="run_action('bwcalileft')" ontouchstart="action('bwcalileft')">left</button>
              </div>
              <div class="mui-col-xs-5 mui-col-sm-5 mui-col-sm-offset-2 mui-col-xs-offset-2", align="left">
                <button class="mui-btn mui-btn--primary" onmousedown="run_action('bwcaliright')" ontouchstart="action('bwcaliright')">right</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<!--Debug: <div id="debug">s</div>-->
</body>
{% endblock %}