{% extends "base.html" %}

{% block left_button %}
  <form class="mui-form" action="/" method="get" id="back">
    <button class="mui-btn mui-btn--flat mui-btn--small mui-btn--grey" form="back">
      <div class="mui--text-subhead mui--text-light">
        Back
      </div>
    </button>
  </form>
{% endblock %}

{% block content %}
<script type="text/javascript">
  function cali_action(value){
    var xmlHttp  = new XMLHttpRequest();
    var protocol  = window.location.protocol;
    var host      = window.location.host;
    url = protocol + "//" + host + pathname + "?action" + "=" + value;
    //document.getElementById("debug").innerHTML=url;
    xmlHttp.open( "GET", url, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
  }
</script>
<div class="mui-container-fluid">
  <br>
  <!-- Control Panel-->
  <!--Forward button-->
  <div class="mui-row", align="center">
  Camera
  </div>
  <div class="mui-row">
      Speed Level:
      <button class="mui-btn mui-btn--primary" onmousedown="set_speed('40')">1</button>
    <div class="mui-col-xs-1 mui-col-sm-1, align="center">
      <button class="mui-btn mui-btn--primary" onmousedown="set_speed('55')">2</button>
    </div>
    <div class="mui-col-xs-1 mui-col-sm-1, align="center">
      <button class="mui-btn mui-btn--primary" onmousedown="set_speed('70')">3</button>
    </div>
    <div class="mui-col-xs-1 mui-col-sm-1, align="center">
      <button class="mui-btn mui-btn--primary" onmousedown="set_speed('85')">4</button>
    </div>
    <div class="mui-col-xs-1 mui-col-sm-1, align="center">
      <button class="mui-btn mui-btn--primary" onmousedown="set_speed('100')">5</button>
    </div>
  </div>
  <div class="mui-row">
    <div class="mui-row">
      <div class="mui-col-xs-2 mui-col-sm-2 mui-col-sm-offset-2 mui-col-xs-offset-2", align="center">
        <button class="mui-btn mui-btn--primary" onmousedown="run_action('forward')" onmouseup="run_action('stop')">▲</button>
      </div>
      <div class="mui-col-xs-2 mui-col-sm-2 mui-col-sm-offset-4 mui-col-xs-offset-4", align="center">
        <button class="mui-btn mui-btn--primary" onmousedown="run_action('camup')" onmouseup="run_action('camready')">△</button>
      </div>
    </div>
  </div>
  <!--Left, Stop, Right button-->
  <div class="mui-row">
    <div class="mui-col-xs-2 mui-col-sm-2", align="right">
      <button class="mui-btn mui-btn--primary" onmousedown="run_action('fwleft')" onmouseup="run_action('fwstraight')">◀</button>
    </div>
    <div class="mui-col-xs-2 mui-col-sm-2 mui-col-sm-offset-2 mui-col-xs-offset-2", align="left">
      <button class="mui-btn mui-btn--primary" onmousedown="run_action('fwright')" onmouseup="run_action('fwstraight')">▶</button>
    </div>

    <div class="mui-col-xs-2 mui-col-sm-2", align="right">
      <button class="mui-btn mui-btn--primary" onmousedown="run_action('camleft')" onmouseup="run_action('camready')">◁</button>
    </div>
    <div class="mui-col-xs-2 mui-col-sm-2 mui-col-sm-offset-2 mui-col-xs-offset-2", align="left">
      <button class="mui-btn mui-btn--primary" onmousedown="run_action('camright')" onmouseup="run_action('camready')">▷</button>
    </div>
  </div>
  <!--Backward button-->
  <div class="mui-row", align="center">
    <div class="mui-col-xs-2 mui-col-sm-2 mui-col-sm-offset-2 mui-col-xs-offset-2", align="center">
        <button class="mui-btn mui-btn--primary" onmousedown="run_action('backward')" onmouseup="run_action('stop')">▼</button>
    </div>
    <div class="mui-col-xs-2 mui-col-sm-2 mui-col-sm-offset-4 mui-col-xs-offset-4", align="center">
        <button class="mui-btn mui-btn--primary" onmousedown="run_action('camdown')" onmouseup="run_action('camready')">▽</button>
    </div>
  </div>
</div>
Debug: {{ debug }}
{% endblock %}
